/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .hidden {
   display: none;
 }
 .react-navbar {
   padding-right: 50px;
 }
 body {
   background-color: #999DA0 !important;
 }
 .card{
   border-radius: 0px !important;
   padding: 10px;
   justify-content: space-around;
 }

 .geo-chart-container {
   margin-bottom: 50px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .geo_chart {
 }

 $light-color: #ffffff;
 $dark-color: #f2f2f2;

 .Table {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   // border: 1px solid $dark-color;
   font-size: 1rem;
   margin: 0.5rem;
   line-height: 1.5;
 }
 .Table-row {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   // align-items: flex-start;
   &:nth-of-type(even) { background-color: $dark-color; }
   &:nth-of-type(odd) { background-color: $light-color; }
 }

 .Table-row-item {
   width: 25%;
   display: flex;
   flex-flow: row nowrap;
   flex-grow: 1;
   flex-basis: 0;
   padding: 0.1em;
 }

 @import 'bootstrap';
